

{% extends 'BlogBundle:Layouts:main_layout.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ absolute_url(asset('css/style.css')) }}"> 
{% endblock %}


{% block header %}	
				{{ include("::header.html.twig") }}
{% endblock %}


{% block body %}
		<h1> {{ article.title }}, {{ article.createdAt|date('Y/m/d H:i:s') }} </h1>
		<p>{{  article.description }}</p>
		<p>{{  article.content }}</p>

{% endblock %}


{% block footer%} 
	{{ include("::footer.html.twig") }}
{% endblock %}

{% block javascripts %}	
	<script type="text/javascript" src="{{ asset('js/plugin.js') }}">
	</script>
{% endblock %}





